@import "tailwindcss";

@font-face {
    font-family: Urbanist;
    src: url('./fonts/Urbanist-VariableFont_wght.woff');
}
@font-face {
    font-family: Besley;
    src: url('./fonts/Besley-Italic-VariableFont_wght.woff');
}
@font-face {
    font-family: Arsenica;
    src: url('./fonts/ArsenicaTrial-Bold.woff');
}

 *::-webkit-scrollbar{
    display: none;
 }

@keyframes opacity {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.opacity {
  animation: opacity 3s linear infinite;
}

 .link-primary{
    @apply flex items-center justify-center border-2 px-5 py-2 rounded-full hover:text-white hover:bg-black transition-all ease-in-out duration-300;
}